*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Noto Sans JP', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	appearance: none;
	border: none;
	background: none;
	cursor: pointer;
}

input,
textarea,
select {
	appearance: none;
	border-radius: 0;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
